body{
	background: #888888 url('../img/BG.jpg') repeat fixed center;
}

p{
	font-family:"微軟正黑體", "Sans", "Arial", "Verdana", "Times New Roman" ;
}

h1{

}

h2{

}

h3{

}

a{
	text-decoration: none
}

a:link{
	color: #404040; 
  }

a:visited{
	color: #404040; 
  }

a:active{
	color: #4F0000;
  }

a:hover{
	color: #4F0000;
  }


